.className {
    display: inline-block;
}

.Copyright {
    display: inline-block;
}

footer {
  border-top: 1px solid #ccc;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.Links a {
  margin-right: 10px;
}

.mainTitle {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

.card {
  width: 18rem;
}

.classContainer {
  margin-top: 4%;
}

#navigationBar {
  border-bottom: 1px solid #ccc;
}